*{
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Times New Roman', Times, serif;
  background: linear-gradient(to right, rgb(97, 143, 151), rgb(211, 129, 197));
}


button{
  cursor: pointer;
}
